@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
}

.mainTitle {
  font-size: 55px;
  font-family: "TTLaundryGothicB";
}

#startBtn {
  color: rgb(86, 86, 86);
  font-size: 30px;
  font-family: "TTLaundryGothicB";
  background-color: rgb(236, 235, 235);
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 100px;
}

#startBtn:hover {
  background-color: rgb(190, 186, 186);
}

#endBtn {
  color: rgb(86, 86, 86);
  font-size: 30px;
  font-family: "TTLaundryGothicB";
  background-color: rgb(236, 235, 235);
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 100px;
}

#endBtn:hover {
  background-color: rgb(190, 186, 186);
}

#againBtn {
  color: rgb(86, 86, 86);
  font-size: 30px;
  font-family: "TTLaundryGothicB";
  background-color: rgb(236, 235, 235);
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 100px;
}

#againBtn:hover {
  background-color: rgb(190, 186, 186);
}

#scissors {
  color: rgb(86, 86, 86);
  font-size: 10x;
  font-family: "TTLaundryGothicB";
  background-color: rgb(236, 235, 235);
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scissors:hover {
  background-color: rgb(190, 186, 186);
}

#rock {
  color: rgb(86, 86, 86);
  font-size: 10x;
  font-family: "TTLaundryGothicB";
  background-color: rgb(236, 235, 235);
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rock:hover {
  background-color: rgb(190, 186, 186);
}

#paper {
  color: rgb(86, 86, 86);
  font-size: 10x;
  font-family: "TTLaundryGothicB";
  background-color: rgb(236, 235, 235);
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#paper:hover {
  background-color: rgb(190, 186, 186);
}

.gameAll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

.btnAll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.rspBtns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#result {
  font-family: "TTLaundryGothicB";
  margin-bottom: 6px;
  background-color: rgb(236, 235, 235);
  border-radius: 100px;
  width: 90px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#score {
  font-family: "TTLaundryGothicB";
  background-color: rgb(236, 235, 235);
  color: rgb(86, 86, 86);
  width: 85px;
  height: 30px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.endText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

.mainAll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.againTurnBtn {
  color: rgb(86, 86, 86);
  font-size: 30px;
  font-family: "TTLaundryGothicB";
  background-color: rgb(236, 235, 235);
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 100px;
  margin-top: 20%;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.againTurnBtn:hover {
  background-color: rgb(190, 186, 186);
}

/* #againTurnBtn:hover {
  background-color: rgb(190, 186, 186);
} */

.ramdomAll {
  display: flex;
}
